* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    color: #111;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    backdrop-filter: blur(5px);
}

header .logo {
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    letter-spacing: 2px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    transition: 0.3s;
}

#hero {
    position: relative;
    height: 100vh;
    background: url('../img/blumarine.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000
}

#hero h2 {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 2px;
}

#hero p {
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    font-size: 2rem;
    margin-top: 10px;
}

#countdown {
    padding: 100px 20%;
    text-align: center;
    background-color: #a8ab9d;
    color: #fff;
}

#countdown h2 {
    font-size: 2rem;
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    margin-bottom: 20px;
    color: #ffb6c1;
}

#countdown p {
    font-size: 1.5rem;
    letter-spacing: 1px;
}

footer {
    text-align: center;
    padding: 25px;
    font-size: 1.2rem;
    background-color: #000000;
    color: #ffffff
}

footer a.ig-link {
    color: #ffb6c1;
    text-decoration: underline;
    font-weight: 500;
    transition: color 0.3s ease;
}

footer a.ig-link:hover {
    color: #ffffff;
}

#about {
    padding: 100px 15%;
    background-color: #fff;
    color: #111;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    padding: 80px 5%;
    flex-wrap: wrap; 
}

.about-text {
    flex: 1 1 50%;
    color: #111;
}

.about-text h2 {
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    font-size: 2rem;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.8;
}

.about-img {
    flex: 1 1 40%;
    display: flex;
    justify-content: center;
}

.about-img img {
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    object-fit: cover;
}

#hero-famosas {
    background-color: #f8dfe5; 
    text-align: center;
    padding: 100px 10%;
}

#hero-famosas p {
    font-family: "Courier New", monospace;
    font-size: 1.5rem;
    color: #333;
    max-width: 1500px;
    margin: 0 auto;
    line-height: 1.8;
}

#filtros {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin: 40px auto;
    max-width: 900px;
    }

#filtros input,
#filtros select {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
}

#lista-famosas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px 10%;
}

.famosa-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 1000px;
    width: 100%;
}

.famosa-info {
    flex: 1;
}

.famosa-info h3 {
    font-size: 1.8rem;
    color: #333;
}

.famosa-info p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 5px 0;
}

.famosa-img img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

#famosas-page {
    background-color: #f8dfe5; 
    min-height: 100vh;
    padding-bottom: 80px;
}

#inscripcion-body {
  background-color: #f8dfe5; /* fondo rosa bebé */
}

#formulario, #lista {
    max-width: 900px;
    margin: 80px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#formulario h2, #lista h2 {
    color: #444;
    text-align: center;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input, form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

form button {
    background-color: #a8ab9d;
    border: none;
    color: #fff;
    padding: 12px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background-color: #ff88a1;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

button.editar, button.eliminar {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.editar {
    background-color: #a3c9a8;
    color: #fff;
}

button.eliminar {
    background-color: #ff7b7b;
    color: #fff;
}
